### Import the Libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

### Import the Dataset

In [4]:
dataset = pd.read_csv("dataset/data.csv")
dataset

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
678,776715,3,1,1,1,3,2,1,1,1,2
679,841769,2,1,1,1,2,1,1,1,1,2
680,888820,5,10,10,3,7,3,8,10,2,4
681,897471,4,8,6,4,3,4,10,6,1,4
682,897471,4,8,8,5,4,5,10,4,1,4

### Explore dataset information

In [6]:
dataset.info

<bound method DataFrame.info of      Sample code number  Clump Thickness  Uniformity of Cell Size  \
0               1000025                5                        1
1               1002945                5                        4
2               1015425                3                        1
3               1016277                6                        8
4               1017023                4                        1
..                  ...              ...                      ...
678              776715                3                        1
679              841769                2                        1
680              888820                5                       10
681              897471                4                        8
682              897471                4                        8

     Uniformity of Cell Shape  Marginal Adhesion  Single Epithelial Cell Size  \
0                           1                  1                            2
1                           4                  5                            7
2                           1                  1                            2
3                           8                  1                            3
4                           1                  3                            2
..                        ...                ...                          ...
678                         1                  1                            3
679                         1                  1                            2
680                        10                  3                            7
681                         6                  4                            3
682                         8                  5                            4

     Bare Nuclei  Bland Chromatin  Normal Nucleoli  Mitoses  Class
0              1                3                1        1      2
1             10                3                2        1      2
2              2                3                1        1      2
3              4                3                7        1      2
4              1                3                1        1      2
..           ...              ...              ...      ...    ...
678            2                1                1        1      2
679            1                1                1        1      2
680            3                8               10        2      4
681            4               10                6        1      4
682            5               10                4        1      4

[683 rows x 11 columns]>

In [7]:
dataset.describe()

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
count,6.830000e+02,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000
mean,1.076720e+06,4.442167,3.150805,3.215227,2.830161,3.234261,3.544656,3.445095,2.869693,1.603221,2.699854
std,6.206440e+05,2.820761,3.065145,2.988581,2.864562,2.223085,3.643857,2.449697,3.052666,1.732674,0.954592
min,6.337500e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,8.776170e+05,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000,2.000000
50%,1.171795e+06,4.000000,1.000000,1.000000,1.000000,2.000000,1.000000,3.000000,1.000000,1.000000,2.000000
75%,1.238705e+06,6.000000,5.000000,5.000000,4.000000,4.000000,6.000000,5.000000,4.000000,1.000000,4.000000
max,1.345435e+07,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

In [8]:
dataset.isnull().sum()

Sample code number             0
Clump Thickness                0
Uniformity of Cell Size        0
Uniformity of Cell Shape       0
Marginal Adhesion              0
Single Epithelial Cell Size    0
Bare Nuclei                    0
Bland Chromatin                0
Normal Nucleoli                0
Mitoses                        0
Class                          0
dtype: int64

### Separate the dependent and independent variables

In [10]:
X = dataset.iloc[:, 1:-1].values
y = dataset.iloc[:, -1].values

### Split dataset into train set and test set

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

### Feature Scaling

In [14]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train_scaled = sc.fit_transform(X_train)
X_test_scaled = sc.transform(X_test)

### Training the Support Vector Machine Model on the train set

In [16]:
from sklearn.svm import SVC

classifier = SVC(kernel = "linear",random_state = 0)
classifier.fit(X_train_scaled, y_train)

SVC(kernel='linear', random_state=0)

### Predicting the result of the train set

In [18]:
y_pred = classifier.predict(X_test_scaled)

### Making the Confusion Matrix

In [20]:
from sklearn.metrics import confusion_matrix, accuracy_score

# Checking the ratio of right and wrong 
cm = confusion_matrix(y_test, y_pred)
print(cm)

# Accuray 
accuracy_score(y_test, y_pred)

[[83  4]
 [ 2 48]]

0.9562043795620438

### Comparing y_pred and y_train

In [22]:
y_pred = [f"{val:.0f}" for val in y_pred]
comparison_df = pd.DataFrame({
    "Original Pice": y_test,
    "Predicted Price": y_pred
})

comparison_df.head(50)

    Original Pice Predicted Price
0               2               2
1               2               2
2               4               4
3               4               4
4               2               2
5               2               2
6               2               2
7               4               4
8               2               2
9               2               2
10              4               4
11              2               2
12              4               4
13              2               2
14              2               2
15              2               4
16              4               4
17              4               4
18              4               4
19              2               2
20              2               2
21              2               2
22              4               4
23              2               2
24              4               4
25              4               4
26              2               2
27              2               2
28              2               2
29              4               4
30              2               2
31              4               4
32              4               4
33              2               2
34              2               2
35              2               2
36              4               4
37              4               4
38              2               2
39              4               4
40              2               2
41              2               2
42              2               2
43              2               2
44              2               2
45              2               2
46              2               2
47              4               4
48              2               2
49              2               2